@import url('https://fonts.googleapis.com/css2?family=YourFont&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Agatho';
  src: url('/assets/fonts/Agatho_Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Gill Sans';
  src: url('/assets/fonts/Gill_Sans.otf') format('truetype');
}

/* .input {
  @apply w-full px-4 py-2 rounded-md bg-primary/90 placeholder-white text-white outline-none ;
} */

.input {
  @apply w-full px-4 py-2 rounded-md bg-primary/90 placeholder-white text-white outline-none border-none focus:outline-none focus:ring-0;
}


 
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
.group:hover .icon-chevron {
  transform: rotate(180deg);
}

/* tailwind.css or index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select {
  outline: none;
}
textarea {
  outline: none;
}

